<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthdate</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.birthdate %></td>
    <td><%= customer.gender %></td>
    <td><%= link_to 'Show', customer %></td>
    <% if can? :update, @customer %> 
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>

    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
     <% end %> 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %> |
<%= link_to 'Back to Home', home_index_path %>
